[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[access "refs/*"]
	owner = group plugins-events-rabbitmq
	label-Code-Review = -2..+2 group plugins-events-rabbitmq
[project]
	description = Gerrit events listener to send events to an external RabbitMQ broker.
[label "Code-Review"]
	function = NoBlock
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE OR changekind:TRIVIAL_REBASE OR is:1 OR is:MIN
[submit-requirement "Code-Review"]
	description = Submit requirement for the 'Code-Review' label
	submittableIf = label:Code-Review=MAX AND -label:Code-Review=MIN
	canOverrideInChildProjects = true
