[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[access "refs/*"]
	owner = group plugins-events-rabbitmq
	label-Code-Review = -2..+2 group plugins-events-rabbitmq
[project]
	description = Gerrit events listener to send events to an external RabbitMQ broker.
[access "refs/heads/master"]
	push = +force group plugins-events-rabbitmq
